// z-index

$z-heaven: 1000 !default;

$z-modal: 500 !default;

$z-named-local-menu--opend: 410 !default;
$z-named-global-header: 400 !default;

$z-named-local-menu: 300 !default;

$z-named-content-header--fiexd: 200 !default;

$z-named-page-top: 100 !default;

$z-popup: 50 !default;

$z-on: 10 !default;
